<!DOCTYPE html>

<html>
    <head>
        <title>Vestaro</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <h1>welcome to vestaro!</h1>
        For more information about play! goto <a href="/helloworld"> template's default page</a>.
    </body>
</html>